---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


.logo-section {
    float: left;
    margin-top: 5px;
}

.site-header{
    min-height: 55.95px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    min-height: 50px;
    margin-bottom: 0;
    background: #fff;
    border-bottom: 1px solid var(--dark-gray) -webkit-box-shadow:0 5px 11px 0 rgba(50,50,50,.08);
    box-shadow: 0 5px 11px 0 rgb(50 50 50 / 8%);
}
