---
---

@import "minima";


.logo-section {
    float: left;
    margin-top: 5px;
}

.page-content{
    padding: 80px 0 30px;
    flex: 1;
}

.site-header{
    min-height: 55.95px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    min-height: 50px;
    margin-bottom: 0;
    background: #fff;
    border-bottom: 1px solid #e3e8ee;
    border-top: 0px;
    box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);
}

